@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;900&display=swap');

.heroheadercontainer {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 5px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.heromenu {
    margin: 0;
    padding: 0;
    background-color: white;
    outline: none;
    border: none;
}
.heromenu:hover {
    cursor: pointer;
}

.heromenu_username {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #10375C;
    border-bottom: 1px solid #10375C;
}
.heromenu_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #10375C;
}
.heromenu_nav:hover {
    font-weight: 600;
}

.heroheader {
    margin: 0;
    padding: 0;
    width: 100%;
}

.heroheaderlogo {
    color: #10375C;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.heroava {
    border-radius: 50ch;
    height: 50px;
    width: 50px;
}